{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yaaaay</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <img src="{% static 'images/image.png' %}" alt="date?" class="header-img" />

    <h1>P.S. I can see your answer</h1>
    <style>
        h1 {
            color: #800080;
            display: center;
        }
    </style>
</body>
</html>